[Unit]
Description=Squeezelite with MAC address <%i>
Wants=avahi-daemon.service
After=network.target time-sync.target sound.target avahi-daemon.service

[Service]
EnvironmentFile=-/etc/default/squeezelite
ExecStart=/usr/bin/squeezelite $SB_EXTRA_ARGS
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
