[Unit]
Description=Squeezelite Player
After=network.target sound.target

[Service]
Nice=-10
LimitRTPRIO=98
PIDFile=/run/squeezelite.pid
EnvironmentFile=-/etc/default/squeezelite

ExecStart=/usr/bin/squeezelite $SB_EXTRA_ARGS

[Install]
WantedBy=multi-user.target
